include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
include *.sh
recursive-include alazab_shop *.css
recursive-include alazab_shop *.csv
recursive-include alazab_shop *.html
recursive-include alazab_shop *.ico
recursive-include alazab_shop *.js
recursive-include alazab_shop *.json
recursive-include alazab_shop *.md
recursive-include alazab_shop *.png
recursive-include alazab_shop *.py
recursive-include alazab_shop *.svg
recursive-include alazab_shop *.txt
recursive-exclude alazab_shop *.pyc